/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
}

nav .image-text img{
    width: 50px;
    border-radius: 6px;
}

nav.navbar {
    transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
    color: black;
    align-items: center;
    justify-items: center;
    transition: 0.3s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
    color: #7f3aff;
}

header.jumbotron::before {
    background-image: url(../images/image1.png);
    background-size: cover;
    background-attachment: fixed;
    content: "";
    display: block;
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: center center;
    filter: brightness(0.4);
}

header.jumbotron {
    background-color: transparent;
    text-align: center;
    margin-bottom: 50px;
}

header.jumbotron .container {
    color: white;
    padding: 100px 0px;
}

nav .container{
    color: rgb(12, 12, 11);
    background: rgba(243, 127, 50, 0.925);
    font-size: 25px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

section {
    padding: 50px 0px;
    text-align: center;
    justify-items: center;
}

section .section-heading {
    margin-bottom: 50px;
    font-size: 50px;
}

section#section_intro .col-sm-12 {
    color: white;
}

@media screen and (max-width: 768px) {
    section#section_intro h1 {
        margin-top: 120px;
    }
}

section#section_intro .col-sm-6 {
    color: #fff;
    padding-right: 60px;
    padding-bottom: 80px;
}

section#section_intro .content-wrap {
    border: solid 2px #ffff;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
}

@media screen and (max-width: 768px) {
    section#section_intro .content-wrap {
        height: 300px;
    }
}

section#section_intro .icon {
    font-size: 50px;
    color: white;
}

section#section_intro ul {
    text-align: left;
    margin-left: 130px;
    list-style: none;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    section#section_intro ul {
        margin-left: 40px;
    }
}

section#section_intro ul li::before {
    content: "●";
    color: white;
}

section#section_picture {
    background-image: url("../images/backgrounds2.png");
    background-size: contain
}

section#section_picture hr {
    max-width: cover;
    border: solid 3px #111;
}

section#section_picture .col-sm-6 {
    margin: 20px 0px;
}

section#section_picture .col-sm-12 {
    color: rgb(32, 86, 235);
}

section#section_picture .img_wrap {
    width: 500px;
    height: 200px;
    border: 1px double #202022;
    display: table-cell;
    overflow: hidden;
}

section#section_picture img {
    width: 550px;
}

a.thick {
    font-weight: bolder;
}

li.thick {
    font-weight: bolder;
}

body {
    background-image: url("../images/backgrounds.png");
    background-size: contain
}

@media screen and (max-width: 768px) {
    section#section_picture img {
        width: 350px;
    }
}